# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
build/
next-env.d.ts

# testing
coverage/
playwright-report/
test-results/
blob-report/
.lighthouseci/

# env
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# os
.DS_Store
Thumbs.db

# editors
.idea/
*.swp
